body *{
    font-family: Helvetica;
    line-height: 1.5;
    text-align: center;
}
#portfolio img{
    height: 150px;

    margin: 0.8%;
}
.top-content{
    width: 100%;
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    height: 620px;
    margin: 0;
    background-repeat: no-repeat;
}
#top-content-notes{
    position: relative;
    padding-top: 14%;
    color: white;
}
#delani-logo{
    padding: 5px;
}
/* #mouse{
    height: 25px;
    width: 15px;
} */
#about-us{
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 15px;
}
#about-us h2{
    font-weight: bold;
}
#about-us p{
    font-size: x-small;
}
#services{
    background-image: url("../assets/backgrounds/s_image.jpg");
    font-weight: bold;
    text-align: center;
    color: white;
    background-size: 1000px;
    height: 200px;
    width: 100%;
}
#services-text{
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    font-size: xx-small;
}
#what-we-do{
    margin-top: 2.5%;
    width: 100%;
    padding-bottom: 6.5%;
}
#what-we-do-notes #images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
#what-we-do img{
    margin-left: 0;
}