body *{
    font-family: Helvetica;
    line-height: 1.5;
    text-align: center;
}
#portfolio img{
    height: 150px;
    margin: 5px;
}
.top-content{
    width: 100%;
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    height: 620px;
    margin: 0;
    background-repeat: no-repeat;
}
#top-content-notes{
    position: relative;
    padding-top: 14%;
    color: white;
}
#delani-logo{
    padding: 5px;
}
/* #mouse{
    height: 25px;
    width: 15px;
} */
#about-us{
    margin-left: 35px;
    margin-right: 35px;
}
#about-us h2{
    font-weight: 700;
}
#about-us p{
    font-size: x-small;
}