body * {
    font-family: Helvetica;
    line-height: 1.5;
    text-align: center;
}

.top-content {
    width: 100%;
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    height: 620px;
    margin: 0;
    background-repeat: no-repeat;
}

#top-content-notes {
    position: relative;
    padding-top: 14%;
    color: white;
}

#delani-logo {
    padding: 5px;
}

#about-us {
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 15px;
}

#about-us h2 {
    font-weight: bold;
}

#about-us p {
    font-size: x-small;
}

#services {
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    font-weight: bold;
    text-align: center;
    color: white;
    background-size: 1200px;
    height: 200px;
    width: 100%;
}

#services-text {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    font-size: xx-small;
}

#services-text h2 {
    font-weight: bold;
}

#what-we-do {
    margin-top: 2.5%;
    width: 100%;
    padding-bottom: 6.5%;
}

#what-we-do-notes #images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#what-we-do img {
    margin-left: 0;
    padding-top: 1.2%;
}

#what-we-do h3 {
    font-weight: bold;
    text-align: center;
}

.what-we-do-hide {
    display: block;
    font-size: x-small;
    justify-content: space-evenly;
}

.what-we-do-hide h3 {
    text-align: center;
}

#what-we-do h6 {
    font-weight: bold;
}

#portfolio img {
    display: inline;
    height: 150px;
    width: 150px;
    margin: 0.8%;
}

#portfolio img:hover, .image-text:hover {
    opacity: 0.4;
}

#portfolio-title {
    font-weight: bold;
}

#contact-background {
    margin-top: 35px;
    min-width: 100%;
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size: contain;
    height: 450px;
    background-repeat: no-repeat;
}

#contact {
    padding-top: 20px;
    width: 100%;
    display: block;
    color: white;
    font-weight: bold;
}

textarea {
    margin-left: 15px;
    display: inline;
    width: 49%;
    margin-top: 7.5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

input {
    width: 25%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

::placeholder {
    color: white;
    opacity: 1;
    text-align: start;
}

.text-on-image {
    text-align: center;
    display: inline;
    position: relative;
}

.image-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border: 2.5px solid white;
    font-weight: bold;
    padding-bottom: 2px;
}

#delani {
    margin-top: 4.5px;
}

#design-hide, #develop-hide, #p-management-hide {
    display: none;
}